<div class="footer fixed-bottom">
    <div class="footer-links">
      <a href="https://github.com/AxelResnik" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/cuervork/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/cuervoo" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/CuervoRk" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/axel-resnik-12184a92/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  <div class="footer-copyright">
    This page is made with <i class="fas fa-beer"></i> at Le Wagon
  </div>
</div>
